.main-form-container {
    width: calc(100% - 24.25rem);
    height: 41.9375rem;
    display: inline-block;
    text-align: left;
}

.main-form-wrapper {
    width: calc(100% - 5.375rem);
}

.main-form-instructions {
    font-size: 1.5rem;
}
